@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(31, 34, 35);
}

.bg-gradient-to-r {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
}

.meal-card-custom-enter-active {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.meals-view-custom-leave-active {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.meal-card-custom-enter-from {
    opacity: 0;
    transform: translateY(-20px);
}

.meals-view-custom-leave-to {
    opacity: 0;
    transform: translateX(-20px);
}

.meals-details-enter-active {
    transition: transform 1s ease, opacity 1s ease;
}

.meals-details-enter-from {
    opacity: 0;
    transform: translateX(30px);
}

